* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Login Page  */

.login-page {
    font-family: 'Arial', sans-serif;
    background-color: #0e4da4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(loginbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container {
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.login-container h1 {
    font-size: 24px;
    color: #ffffff;
    padding-bottom: 0%;
    margin-bottom: 0px;
    text-align: center;
}

.login-container p {
    font-size: 14px;
    color: #767676;
    padding: 10px;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    transition: border-color 0.3s ease;
    color: #ffffff;
}

button.login-btn {
    width: 100%;
    max-width: 320px;
    background-color: #006aff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button.login-btn:hover {
    background-color: #0f7544;
}

a {
    color: #ff0000;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}



/* Index Page  */


.index body {
    background-color: #fff;
    color: #333;
    font-size: 16px;
}

.index header {
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
    background-color: #a50a0a00;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.index nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.index nav ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.index nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s;
    line-height: 30px;
}

.index nav ul li a:hover {
    color: #00fbff;
    text-shadow: 
        0 0 5px #00fbff,
        0 0 10px #00fbff,
        0 0 20px #00fbff,
        0 0 30px #00fbff,
        0 0 40px #00fbff,
        0 0 50px #00fbff,
        0 0 75px #00fbff;
}


#stationSearch {
    background-color: rgba(255, 0, 0, 0);
    color: white;
    border: 1px solid #ccc;  /* Add a border */
    border-radius: 5px;      /* Optional: Add rounded corners */
    height: 30px;
    width: 200px;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    line-height: 30px;
}


/* My Booking */



#bookingInfoPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#bookingInfoPopup.hidden {
    display: none;
}

.popup-content {
    background-color: #ffffff;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
    font-family: Arial, sans-serif;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #333333;
    cursor: pointer;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #ff0000;
}

.popup-content h3 {
    margin-top: 0;
    font-size: 20px;
    color: #333333;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
}

.popup-content p {
    font-size: 16px;
    color: #555555;
    margin: 10px 0;
}

.popup-content p strong {
    color: #333333;
}

@media (max-width: 768px) {
    .popup-content {
        width: 100%;
        max-width: 90%;
        padding: 15px;
    }
}



/* User Landing Page  */



.hero {
    display: flex;
    padding: 120px 30px;
    height: 100vh;
    background-color: #000000;
}


.hero-text {
    max-width: 50%;
    padding: 50px;
    font-family: 'Sora', sans-serif;
}

.hero-text h1 {
    font-size: 56px;
    font-weight: bold;
    text-align: left;
    color: #ffffff;
    padding-bottom: 0%;
}

.hero-text p {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    color: #666;
    padding-bottom: 3%;
}



/* Base Button Style */
.hero-text button {
    padding: 15px 25px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    position: relative;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

/* Glowing Effect */
.hero-text button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    border-radius: 25px;
    transition: opacity 0.3s ease-in-out;
}

/* Glowing Animation */
@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Dark Overlay */
.hero-text button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222222e0;
    left: 0;
    top: 0;
    border-radius: 25px;
}


.hero-image {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transform: scale(1.2);
}

/* Scroll Bar  */

html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;  /* Disable horizontal scrolling */
}

.index {
    width: 100vw;        /* Ensure the container takes the full width of the viewport */
    height: 100vh;       /* Ensure the container takes the full height of the viewport */
    overflow-y: auto;    /* Enable vertical scrolling */
    overflow-x: hidden;  /* Disable horizontal scrolling */
}

/* For WebKit browsers (like Chrome and Safari) */
.index::-webkit-scrollbar {
    display: none;  /* Hide the scrollbar */
}


/* Available Station  */


#stationsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ffffff;
    padding: 20px;
    justify-content: center;
}

.stations-section h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #0e4da4;
    padding: 10px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.station-box {
    flex: 1 1 calc(33% - 20px);
    max-width: 300px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.station-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.station-box p {
    margin: 10px 0;
    color: #333333;
    font-family: 'Sora', sans-serif;
    font-size: 16px;
}

.station-box p strong {
    color: #1976d2;
    font-weight: 600;
}

@media (max-width: 768px) {
    .station-box {
        flex: 1 1 100%;
    }
}

@media (max-width: 1200px) {
    .station-box {
        flex: 1 1 calc(50% - 20px);
    }
}



/* Map  */



.map-container, .admin-map-container {
    display: flex;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
}

#map, #adminMap {
    height: 400px;
    width: 75%;
    border: 2px solid #0e4da4;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    overflow: hidden;
    display: block;
}


.stations-section {
    text-align: center;
}


@media (max-width: 600px) {
    #map {
        height: 300px;
    }
}



/* Booking Page  */


.booking-body {
    font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
    background: linear-gradient(135deg, #e0f7fa, #80deea);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.booking-header {
    text-align: center;
    margin-bottom: 20px;
    color: #01579b;
    animation: fadeIn 1s ease;
}

.booking-title {
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: #043008;
}

.booking-subtitle {
    font-size: 20px;
    margin-top: 10px;
    color: #0945e7;
}

.booking-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.booking-card {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    animation: slideInUp 0.6s ease;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-label {
    font-size: 1rem;
    color: #01579b;
    margin-bottom: 8px;
}

.booking-select {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #f7f9fc;
    color: #333;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-select:focus {
    border-color: #0277bd;
    outline: none;
    box-shadow: 0 0 5px rgba(2, 119, 189, 0.3);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.booking-button {
    padding: 14px;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #0288d1;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.button-container .booking-button[type="submit"] {
    width: 65%;
}

.button-container .booking-button#resetButton {
    width: 30%;
    background-color: #b0bec5;
}

.button-container .booking-button#resetButton:hover {
    background-color: #ae9090;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease;
}

.animate-slide-in {
    animation: slideInUp 0.5s ease;
}



/* Admin Dashboard  */


.admin-dashboard {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

.sidebar {
    width: 250px;
    background: #007bff;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
}

.sidebar-title {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.sidebar-nav {
    margin-top: 20px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin: 15px 0;
}

.nav-link {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.active-link {
    background-color: #0056b3;
    color: white;
    width: 100%;
}


.nav-link:hover {
    color: #ffcc00;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 20px;
    background: #ffffff;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    line-height: 1.6;
    margin-left: 250px;
    background: #f8f9fa;
    min-height: 100vh;
}

.header {
    margin-bottom: 20px;
}

.header-title {
    font-size: 2em;
    margin: 0;
    color: #333;
}

.welcome-title {
    font-size: 1.3em;
    color: #666;
}

.form-container,
.manage-bunk-container,
.users-container,
.remove-slot-container,
.analytics-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-title,
.manage-bunk-title,
.users-title,
.remove-slot-title,
.analytics-title {
    margin: 0 0 15px;
    font-size: 1.6em;
    color: #007bff;
}

.analytics-container p {
    color: #000000;
    padding: 0;
    font-size: 1.2em;
    margin: 10px 0;
    text-align: left;
}

#bunkList {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.bunk-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #ececec;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 136%;
}

.bunk-item:hover {
    transform: scale(1.02);
}

.bunk-item p {
    margin: 0;
    font-size: 16px;
    color: #555;
    flex-grow: 1;
}

.delete-bunk-btn {
    padding: 8px 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.delete-bunk-btn:hover {
    background-color: #c0392b;
}

.addslot-bunk-btn,
.edit-bunk-btn {
    padding: 8px 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s;
}

.edit-bunk-btn:hover {
    background-color: #c0392b;
}

@media (max-width: 600px) {
    .manage-bunk-container {
        padding: 15px;
    }

    .manage-bunk-title {
        font-size: 20px;
    }

    .bunk-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .bunk-item p {
        font-size: 14px;
    }

    .delete-bunk-btn {
        padding: 6px 10px;
        font-size: 12px;
    }
}

#editBunkModal {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.number {
    font-weight: bold;
    font-size: 1.5em;
    color: #007bff;
    padding: 5px;
    border-radius: 5px;
    background: rgba(0, 123, 255, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

.form-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #0056b3;
}

.user-item,
.slot-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.user-item:hover,
.slot-item:hover {
    background-color: #f0f0f0;
}

button {
    /* margin-left: 10px; */
    background: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #c82333;
}


/* Message */


#message {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
    width: 300px;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

#message.show {
    display: block;
    opacity: 1;
    transform: scale(1.05) translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

#message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}



/* form input  */



input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray"><polygon points="5,7 10,12 15,7"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

@media (max-width: 600px) {
    input, select {
        font-size: 14px;
    }
}
